
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
.navbar {
    position: fixed; /* Sticky positioning */
    top: 50%; /* Center vertically */
    left: 3%;
    transform: translateY(-50%);
    /* Background color */
    padding: 10px;
    border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 30px;
}

.navbar li:hover {
  font-size: 35px;
  color: aqua; /* Hover effect */
}
@media (max-width: 768px) { /* Adjust this breakpoint as needed */
    .navbar {
      position: fixed;
      top: 0;
      left: 0; /* Align to the top */
 /* Align to the left */
      transform: translateY(0); /* Remove vertical transform */
      width: 100%; /* Full width */
      height: auto; /* Auto height to wrap all items */
      /* Adjust padding to only top and bottom */
      border-radius: 0; /* Reset border radius */
      
      z-index: 1;
      padding: 0;
      background-color: rgb(152, 176, 176);/* Center the items if you have space */
    }
  
    .navbar ul {
      display: flex; /* Use flexbox for horizontal alignment */
     /* Center items horizontally */
      flex-wrap: wrap;
       /* Wrap items to next line if not enough space */
    }
  
    .navbar li {
      padding: 1px 1px; /* Adjust padding to reduce spacing between items */
      font-size: 26px; 
      margin: 0 2px;/* Adjust font size for smaller screens */
      flex: 1; /* Make items flexible */
      text-align: center; /* Align text for each item */
    }
  
    .navbar li:hover {
      font-size: 26px; /* Keep the font size consistent on hover */
      color: aqua;
    }
  }